*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #ff9a4b;
  height: 50px;
  width: 100%;
}

.step{
  display: flex;
  justify-content: center;
  width: 960px;
  margin: 50px auto;
}

.procedure:nth-child(even){
  margin-right: 30px;
  margin-left: 30px;
}

.procedure{
  width: 300px;
  /*ここにpadding:10px;を入れて省略可能*/
  padding: 10px;
  background-color: #eeeeee;
}

.step-nomber{
  background-color: #ff9a4b;
  position: absolute;
  color: #fff;
}

.step-image1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-image2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-image3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.title{
  margin: 15px 0 5px;
}

footer{
  background-color: #aaaaaa;
  height: 50px;
  width: 100%;
}

@media screen and (max-width:425px){
  .step{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10%;
  }

  .procedure{
    width: 100%;
  }

  .procedure:nth-child(even){
    margin: 20px 0;
  }
}